.wrap{
    width: 100%;
    height: fit-content;
    display: flex;
    position: relative;

    $fontSize: 12px;

    font-family: monospace;

    .lines_nums{
        .line_num{
            font-size: 12px;
            padding-left: 20px;
            padding-right: 8px;
            line-height: $fontSize*1.4;
            background: #8882;
            font-size: $fontSize;
            color: #888;
            text-align: end;
        }
    }

    textarea{
        width: 100%;
        color: #000;
        font-size: $fontSize;
        padding-left: 4px;
        border: none;
        outline: none;
        resize: none;
        background: none;
        font-family: monospace;
        line-height: $fontSize*1.4;

        // Disable scrollbar
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}