.submenu_wrap{
    display: none;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
    z-index: 1;

    .submenu{
        background: #eeeeeef0;
        box-shadow: 0 0 5px #0002;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid #0002;
        display: flex;
        gap: 30px;
        width: fit-content;
    }
}

.submenu{

    // customize scrollbar
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #0002 #0001;


    h4{
        font-size: 1.1rem;
        font-weight: 500;
        padding: 10px 5px;

    }

    h4:first-child{
        padding-top: 0;
    }

    .submenu_heading{
        padding: 5px;
        padding-top: 10px;

        h3{
            font-size: .9rem;
            font-weight: 500;
            color: #0008;
        }
    }

    .submenu_item{
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 6px 10px;
        border-radius: 6px;
        transition: all 0.1s;


        --color: #a0a0a0;

        &:hover{
            background: #0001;
            --color: #333;
        }

        &:active{
            background: #0002;
        }

        .submenu_icon{
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
                width: 100%;
                height: 100%;

                path{
                    stroke: var(--color);
                }
            }
        }

        .submenu_title{
            display: flex;
            font-size: .9rem;
            font-weight: 400;
            color: var(--color);
            width: 100%;
            height: 100%;
            line-height: 100%;
            text-wrap: nowrap;
        }
    }
}

// Responsive

@media screen and (max-width: 768px){
    .submenu_wrap{
        position: fixed;
        top: 60px;
        padding: 0px;
        margin: auto;

        .arrow{
            display: none;
        }

        .submenu{
            flex-direction: column;
            overflow: scroll;
            overflow-x: hidden;
            max-height: 70vh;
        }
    }


}