.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    $fontSize: 12px;

    .lines_nums{
        background: #8888;
        font-size: 12px;
        padding: 2px;
        padding-left: 20px;
        padding-right: 8px;


        .line_num{
            font-size: $fontSize;
            color: var(--text-color);
            text-align: end;
        }
    }

    textarea{
        width: 100%;
        height: 100%;
        color: var(--text-color);
        font-size: $fontSize;
        padding-left: 4px;
        border: none;
        outline: none;
        resize: none;
        background: none;
    }
}