.wrap{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: purple;
    
    .selected_label{
        text-align: center;
        font-size: 14px;
        text-decoration: underline;
        font-style: italic;
        color: #000;
    }
}