.input_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    width: 100%;

    label{
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        color: #fff8;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .error{
            font-size: .9em;
            background: red;
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            svg{
                width: 15px;
                height: 15px;
                fill: #fff;
            
            }
        }
    }

    input{
        width: 100%;
        border: 1px solid #8888;
        border-radius: 1px;
        padding: 2px 4px;
        background: #ddd;
        color: #000;
        font-size: 14px;
        font-family: monospace;
        outline: none;

        &[disabled]{
            background: #888;
            color: #fff8;
        }

    }

    &.color, &.number, &.checkbox{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;

        .inputs{
            order: -1;
            display: flex;
            align-items: center;


            input{
                background: none;
                border: none;
                padding: 0;
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }

        &.color{
            .inputs{
                position: relative;
                input{
                    // display: none;
                    opacity: 0;
                }

                background: #8888;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                cursor: pointer;
                border: 2px solid #fff8;
            }
        }


        &.number{
            margin-top: 4px;

            input[type="number"]{
                width: 40px;
                height: 25px;
                text-align: center;
                background: #ddde;
                border: 1px solid #888;
                padding: 0;
                
                -moz-appearance:textfield;
                appearance: textfield;
                
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

        &.checkbox{
            input[type="checkbox"]{
                width: 15px;
                height: 15px;
            }
        }
    }

    &.range{
        margin-top: 4px;
        margin-bottom: 4px;

        .inputs{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            
            input[type="range"]{
                width: 100%;
                background: none;
                border: none;
                outline: none;
                -webkit-appearance: none;
                appearance: none;
                height: 10px;
                border-radius: 2px;

    
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 10px;
                    height: 10px;
    
                    // Circle
                    border-radius: 50%;
                    background: #fff;
                    cursor: pointer;
                }
    
                
    
                &::-webkit-slider-runnable-track {
                    background: #8888;
                    border-radius: 10px;
                }
                &::-moz-range-track {
                    background: #8888;
                    border-radius: 2px;
                }
                &::-ms-track {
                    background: #8888;
                    border-radius: 2px;
                }
            }
            
            input[type="number"]{
                width: 40px;
                text-align: center;
                background: #ddde;
                border: 1px solid #888;
                
                -moz-appearance:textfield;
                appearance: textfield;
                
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

    }
}

.section{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;

    .title{
        font-size: 16px;
        font-weight: 500;
        color: #eee;
        padding-bottom: 4px;
        border-bottom: 1px solid #8888;
    }
}