.wrap{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;

    .header{
        display: flex;
        justify-content: flex-start;
        background: #dedede;
        gap: -5px;
        
        .tab_title{
            padding: 10px;
            cursor: pointer;
            border-bottom: 2px solid #f88;
            text-align: center;
            font-weight: bold;
            color: #888;

            &.active{
                color: #333;
                border-bottom: 2px solid #f00;
                background: #ccc;
            }
        }
    }

    .body{
        height: 100%;
    }
}