.header_wrap {
    width: 100%;
    height: var(--nav-height);
    z-index: 100;
    background-color: var(--nav-bg);
    padding: 20px;
    // border-bottom: 2px solid #888;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    a{
        text-decoration: none;
        color: var(--text-gray);
        height: 100%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        // --- Logo ---
        .menu_logo{
            display: flex;
            gap: 20px;
            align-items: center;
            position: relative;
            height: 100%;

            .list_icon {
                width: 40px;
                height: 40px;
                border: 1px solid var(--text-gray);
                border-radius: 6px;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
    
    
                svg {
                    width: 100%;
                    height: 100%;
                    fill: var(--text-gray);
                }
    
                &:hover {
                    background-color: #333;
    
                    svg {
                        fill: #eee;
                    }
                }
            }

            .logo{
                height: 100%;

                svg{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        // --- Menu options ---
        .menu_options {
            ul {
                display: flex;
                gap: 20px;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 0 10px;

                    color: var(--text-gray);
                    text-decoration: none;
                    font-size: 1.1rem;
                    font-weight: 500;
                    transition: all 0.1s;
                    cursor: pointer;

                    &:hover {
                        color: #333;
                    }

                }
            }
        }

        // --- Menu info ---
        .menu_info {
            display: flex;
            gap: 20px;
            align-items: center;

            .share{
                border: none;
                border-radius: 6px;
                padding: 10px 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                color: #ddd;
                background: var(--blue-bright);
                cursor: pointer;

                &:hover{
                    filter: brightness(1.1);
                }
            }

            .zoom{
                font-weight: 500;
                color: var(--text-gray);
                min-width: 50px;
                text-align: center;
            }
        }
    }

}