.header_wrap {
    width: 100%;
    height: var(--nav-height);
    z-index: 100;
    

    position: fixed;
    top: 0;

    a{
        text-decoration: none;
        color: var(--text-gray);
        height: 100%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .menu_logo{
            display: flex;
            gap: 10px;
            align-items: center;
            position: relative;
            height: 100%;
            padding: 10px;
            width: 30%;

            .list_icon {
                width: 35px;
                height: 35px;
                border-radius: 6px;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ebebeb;
                box-shadow: 0 0 5px #0002;
    
    
                svg {
                    width: 100%;
                    height: 100%;

                    path{
                        stroke: #0004;
                    }
                }
    
                &:hover {
                    background: #aaa8;
                }
            }

            a{
                height: 100%;
                display: flex;
                align-items: center;
                .logo{
                    height: 100%;
    
                    svg{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        // --- Menu options ---
        .menu_options {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200%;

            transform: translateY(-5px);
            transition: all 0.1s;

            ul {
                display: flex;
                list-style: none;
                gap: 10px;
                padding: 0;
                margin: 0;
                justify-content: center;
                background: #eee;
                box-shadow: 0 0 5px #0002;
                padding: 5px;
                border-radius: 0 0 6px 6px;
                width: fit-content;
                
                li {
                    color: var(--text-gray);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    transition: all 0.1s;
                    cursor: pointer;
                    padding: 5px 10px;
                    border-radius: 6px;
                    position: relative;
                    
                    &:hover {
                        background: #0001;
                        color: #333;
                        
                        & > *{
                            display: block;
                        }
                    }

                    &.current{
                        pointer-events: none;

                        a {
                            color: #0003;
                        }
                    }

                }

                hr{
                    border: 1px solid #0001;
                    margin: 4px 0;
                }

                li.view_item{
                    color: rgba(139, 127, 12, 0.521);
                }
            }

        }

        
        .menu_options_view_msg{
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            background: #0001;
            border-radius: 6px;

            .hidden_menu{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 6px;
                
                span{
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: #0008;
                    border-radius: 6px;
                    font-style: italic;
                    padding-left: 5px;
                }

                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    font-size: 0.8rem;

                    button{
                        border: none;
                        background: rgba(4, 156, 226, 0.4);
                        color: #0008;
                        padding: 5px 10px;
                        border-radius: 6px;
                        cursor: pointer;
                        font-size: 0.8rem;
                        font-weight: 500;
                        transition: all 0.1s;
                        opacity: 0.8;

                        &:nth-of-type(2){
                            background: rgba(226, 4, 4, 0.4);
                        }
                        
                        &:hover{
                            opacity: 1;
                        }
                    
                    }
                
                }
            }
            
            &.alert{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 4px 10px;
                font-style: italic;
                background: rgba(213, 216, 67, 0.295);
                color: #0008;
                font-size: 0.8rem;
                border: 2px solid #0002;

                button{
                    border: none;
                    background: rgba(226, 185, 4, 0.197);
                    color: #0008;
                    padding: 5px 10px;
                    border-radius: 6px;
                    cursor: pointer;
                    font-size: 0.8rem;
                    font-weight: 500;
                    transition: all 0.1s;
    
                    &:hover{
                        background: rgba(226, 185, 4, 0.597);
                        color: #0009;
                    }
                
                }
            }

            &.select_nodes{
                display: flex;
                flex-direction: column;
                gap: 10px;
                background: #eee;
                padding: 10px 20px;
                border: 1px solid #0002;

                & > span{
                    font-weight: 500;
                    font-size: 1rem;
                    font-style: italic;
                    color: #0008;
                }

                hr{
                    border: 1px solid #0002;
                }

                .inputs{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    & > svg path{
                        stroke: #0008;
                    }

                    .nodes_selector_group{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        label{
                            font-weight: 400;
                            font-size: .8rem;
                            color: #0008;
                            text-align: center;

                        }

                        select{
                            padding: 5px 10px;
                            border-radius: 6px;
                            border: 1px solid #0002;
                            font-size: .8rem;
                            font-weight: 500;
                            color: #0008;
                            background: #fff;
                            cursor: pointer;
                            transition: all 0.1s;
                            width: fit-content;
                            max-width: 50%;
                            outline: none;
                            padding-right: 2px;

                            &:hover{
                                border: 1px solid #0004;
                            }
                        
                            option:disabled{
                                color: #0002;
                            }
                        }
                    }
                }

                .nodes_selector_summary{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    max-height: 60vh;
                    overflow-y: auto;
                    padding: 6px;

                    // Edit scroll bar
                    &::-webkit-scrollbar {
                        width: 6px;
                    }

                    &::-webkit-scrollbar-track {
                        background: #e4e4e400; 
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #888; 
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background: #555; 
                    }

                    

                    table{
                        width: 100%;
                        border-collapse: collapse;

                        th, td{
                            border: 1px solid #0002;
                            padding: 5px;
                            text-align: center;
                            font-size: 0.8rem;
                            font-weight: 500;
                            color: #0008;
                        }

                        tr.initial td{
                            opacity: 0.2;
                        }
                        tr.dst td{
                            background: #cae4fc;
                        }

                        th{
                            font-weight: 700;
                            background: #ddd;
                        }

                        tr{
                            background: #ddd;
                            &:nth-child(even){
                                background: #eee;
                            }
                        }
                        
                    }
                }

                button{
                    border: none;
                    background: var(--blue-bright);
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 6px;
                    cursor: pointer;
                    font-size: 0.8rem;
                    font-weight: 500;
                    transition: all 0.1s;

                    &:nth-of-type(2){
                        background: var(--red);
                    }

                    &:hover{
                        filter: brightness(1.1);
                    }

                    &:active{
                        filter: brightness(0.9);
                    }
                }
            }
        }

        // --- Menu info ---
        .menu_info {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: flex-end;
            padding: 10px;
            width: 30%;

            .share{
                border: none;
                border-radius: 6px;
                padding: 8px 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                color: #ddd;
                background: var(--blue-bright);
                cursor: pointer;

                &:hover{
                    filter: brightness(1.1);
                }
            }

            .zoom{
                font-weight: 500;
                color: var(--text-gray);
                min-width: 50px;
                text-align: center;

                &:hover{
                    text-decoration: line-through;
                }
            }
        }
    }

}