.menu_options_view_msg{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: #0001;
    border-radius: 6px;

    &.alert{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 10px 25px;
        padding-left: 20px;
        border-radius: 40px;
        background: rgba(213, 216, 67, 0.295);
        color: #0008;
        font-size: 0.8rem;
        border: 2px solid #0002;

        &.error{
            background: #ff3730;
            color: #eee;
            border: none;

            span{
                padding-bottom: 2px;
            }

            svg path{
                fill: #eee;
                stroke-width: 1;
            }
        }

        &.info{
            background: #2a63ff;
            color: #eee;
            border: none;

            span{
                padding-bottom: 2px;
            }

            svg path{
                stroke: #eee;
            }
        }

        &.success{
            background: #00ca2c;
            color: #eee;
            border: none;

            span{
                padding-bottom: 2px;
            }

            svg path{
                stroke: #eee;
                stroke-width: 1;
            }
        }

        button{
            border: none;
            background: rgba(226, 185, 4, 0.197);
            color: #0008;
            padding: 5px 10px;
            border-radius: 6px;
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: 500;
            transition: all 0.1s;

            &:hover{
                background: rgba(226, 185, 4, 0.597);
                color: #0009;
            }
        
        }
    }

    &.select_nodes{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: #eee;
        padding: 10px 20px;
        border: 1px solid #0002;

        & > h4{
            font-weight: 500;
            font-size: 1rem;
            color: #0008;
            text-align: center;
            margin-bottom: 2px;
            border-bottom: 1px solid #0002;
            padding-bottom: 10px;
        }

        .hint{
            font-weight: 400;
            font-size: 0.8rem;
            font-style: italic;
            color: #0006;
            text-align: center;
            padding: 6px 0;
        }

        hr{
            height: 1px;
            background: #0002;
            border: none;
        }

        .inputs{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            & > svg path{
                stroke: #0008;
            }

            .nodes_selector_group{
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: center;
                align-items: center;

                label{
                    font-weight: 400;
                    font-size: .8rem;
                    color: #0008;
                    text-align: center;

                }

                select{
                    padding: 5px 10px;
                    border-radius: 6px;
                    border: 1px solid #0002;
                    font-size: .8rem;
                    font-weight: 500;
                    color: #0008;
                    background: #fff;
                    cursor: pointer;
                    transition: all 0.1s;
                    width: fit-content;
                    outline: none;
                    padding-right: 2px;

                    &:hover{
                        border: 1px solid #0004;
                    }
                
                    option:disabled{
                        color: #0002;
                    }
                }
            }
        }

        .nodes_selector_summary{
            display: flex;
            flex-direction: column;
            gap: 10px;

            max-height: 60vh;
            overflow-y: auto;
            padding: 6px;

            // Edit scroll bar
            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                background: #e4e4e400; 
            }

            &::-webkit-scrollbar-thumb {
                background: #888; 
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555; 
            }

            

            table{
                width: 100%;
                border-collapse: collapse;

                th, td{
                    border: 1px solid #0002;
                    padding: 5px;
                    text-align: center;
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: #0008;
                }

                tr.initial td{
                    opacity: 0.2;
                }
                tr.dst td{
                    background: #cae4fc;
                }

                th{
                    font-weight: 700;
                    background: #ddd;
                }

                tr{
                    background: #ddd;
                    &:nth-child(even){
                        background: #eee;
                    }

                    &.clickable{
                        cursor: pointer;

                        &:hover{
                            filter: brightness(.9);
                        }

                        &:active{
                            filter: brightness(.8);
                        }
                    }
                }
                
            }

            & .error{
                background: #f004;
                color: #fffb;
                border: 2px solid #0002;
                padding: 5px;
                border-radius: 6px;
                font-style: italic;
                font-weight: 500;
                font-size: 0.9rem;
                text-align: center;
            }

            & .info{
                background: rgba(68, 196, 255, 0.233);
                color: #0006;
                border: 2px solid #0002;
                padding: 5px;
                border-radius: 6px;
                font-style: italic;
                font-weight: 500;
                font-size: 0.9rem;
                text-align: center;                        
            }
        }

        button{
            border: none;
            background: var(--blue-bright);
            color: #fff;
            padding: 5px 10px;
            border-radius: 6px;
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: 500;
            transition: all 0.1s;

            &:nth-of-type(2){
                background: var(--red);
            }

            &:hover{
                filter: brightness(1.1);
            }

            &:active{
                filter: brightness(0.9);
            }
        }
    }
}