.wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;


    $titleHeight: 35px;


    .title {
        padding: 5px;
        text-align: center;
        font-weight: 500;
        background: #f4f4f4;
        border-bottom: 1px solid #0003;
        color: #000;
        height: $titleHeight;
        display: flex;
        align-items: center;
        justify-content: center;

        .toggle {
            position: absolute;
            padding: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 35px;
            height: 35px;

            color: #0008;

            svg {
                fill: #8888;
                width: 100%;
                height: 100%;
            }

            &:hover svg {
                fill: #000;
            }
        }
    }

    .canvas_wrap {
        width: 100%;
        height: 100%;
        background: var(--canvas-bg);
        position: relative;

        #canvas {
            width: 100%;
            height: 100%;
        }
    }


    // ---------------------------------------------------------------------------------
    .overlay {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        transition: all .1s ease-in-out;

        width: 250px;
        height: 70%;

        border-radius: 5px;
        overflow: hidden;

        $separation: 10px;

        &.overlay_left {
            left: $separation;
            .title .toggle {
                right: 0;
            }
        }

        &.overlay_right {
            right: $separation;
            .title .toggle {
                left: 0;
            }
        }

        &.overlay_left, &.overlay_right {
            box-shadow: 0 0 10px #0008;
            background: #eee;
            color: var(--white);
            z-index: 10;
        }

        &.closed_left {
            transform: translateX(-110%) translateY(-50%);
        }

        &.closed_right {
            transform: translateX(110%) translateY(-50%);
        }

        &.closed_left,
        &.closed_right {
            .widget_wrap{
                animation: slideRight .1s forwards;
            }
        }

        .widget_wrap {
            height: calc(100% - $titleHeight);
            overflow-y: scroll;

            // Customize scroll bar
            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background: none;
            }

            &::-webkit-scrollbar-thumb {
                background: #888;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
        }
    }
}


.closed_overlay {
    position: fixed;
    top: calc(50% - 70%/2);
    background: #eee;
    color: #888;
    box-shadow: 0 0 10px #0008;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    &.closed_left{left: 10px;}
    &.closed_right{right: 10px;}

    svg{
        width: 100%;
        height: 100%;

        path{
            stroke: #8888;
        }
    }
}

@keyframes slideRight {
    from {
        display: flex;
    }
    to {
        display: none;
    }   
}