.wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
}

#canvas{
    /* background-image: url('/mapa.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
}